@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #1a1a1a;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

strong {
  font-weight: 900;
}

table {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

@media (max-width: 800px) {
  table {
    width: 75%;
  }

  html {
    font-size: 0.75rem;
  }
}

@media (max-width: 550px) {
  table {
    width: 95%;
  }

  html {
    font-size: 0.5rem;
  }
}

th,
tr,
td {
  /* border: 1px solid black; */
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

td:hover {
  cursor: pointer;
}

label {
  display: block;
  text-align: left;
}

.flex-left {
  align-items: left;
}
